GeekHub/Connected Services/GeekHubWS/GeekHubWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarProductosPorVendedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVendedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarProductosPorVendedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductosPorVendedorResult" type="tns:ArrayOfItProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItProducto" nillable="true" type="tns:ItProducto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoriaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL_Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FRegistro" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarProductosPorCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarProductosPorCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductosPorCategoriaResult" type="tns:ArrayOfItProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCategorias">
        <s:complexType />
      </s:element>
      <s:element name="ListarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCategoriasResult" type="tns:ArrayOfItCategoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItCategoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItCategoria" nillable="true" type="tns:ItCategoria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItCategoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NCategoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CateogoriaId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FiltroSkus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoriaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precioMin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precioMax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orden" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FiltroSkusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltroSkusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginFindByEmailAndPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginFindByEmailAndPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginFindByEmailAndPasswordResult" type="tns:UserLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="registerUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRole" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="register" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarProductosPorVendedorSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProductosPorVendedor" />
  </wsdl:message>
  <wsdl:message name="ListarProductosPorVendedorSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductosPorVendedorResponse" />
  </wsdl:message>
  <wsdl:message name="ListarProductosPorCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProductosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="ListarProductosPorCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCategorias" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="FiltroSkusSoapIn">
    <wsdl:part name="parameters" element="tns:FiltroSkus" />
  </wsdl:message>
  <wsdl:message name="FiltroSkusSoapOut">
    <wsdl:part name="parameters" element="tns:FiltroSkusResponse" />
  </wsdl:message>
  <wsdl:message name="loginFindByEmailAndPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:loginFindByEmailAndPassword" />
  </wsdl:message>
  <wsdl:message name="loginFindByEmailAndPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:loginFindByEmailAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="registerUserSoapIn">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserSoapOut">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="GeekHubWSSoap">
    <wsdl:operation name="ListarProductosPorVendedor">
      <wsdl:input message="tns:ListarProductosPorVendedorSoapIn" />
      <wsdl:output message="tns:ListarProductosPorVendedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorCategoria">
      <wsdl:input message="tns:ListarProductosPorCategoriaSoapIn" />
      <wsdl:output message="tns:ListarProductosPorCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <wsdl:input message="tns:ListarCategoriasSoapIn" />
      <wsdl:output message="tns:ListarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FiltroSkus">
      <wsdl:input message="tns:FiltroSkusSoapIn" />
      <wsdl:output message="tns:FiltroSkusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginFindByEmailAndPassword">
      <wsdl:input message="tns:loginFindByEmailAndPasswordSoapIn" />
      <wsdl:output message="tns:loginFindByEmailAndPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserSoapIn" />
      <wsdl:output message="tns:registerUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeekHubWSSoap" type="tns:GeekHubWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductosPorVendedor">
      <soap:operation soapAction="http://tempuri.org/ListarProductosPorVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorCategoria">
      <soap:operation soapAction="http://tempuri.org/ListarProductosPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltroSkus">
      <soap:operation soapAction="http://tempuri.org/FiltroSkus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginFindByEmailAndPassword">
      <soap:operation soapAction="http://tempuri.org/loginFindByEmailAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeekHubWSSoap12" type="tns:GeekHubWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductosPorVendedor">
      <soap12:operation soapAction="http://tempuri.org/ListarProductosPorVendedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorCategoria">
      <soap12:operation soapAction="http://tempuri.org/ListarProductosPorCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap12:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltroSkus">
      <soap12:operation soapAction="http://tempuri.org/FiltroSkus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginFindByEmailAndPassword">
      <soap12:operation soapAction="http://tempuri.org/loginFindByEmailAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap12:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeekHubWS">
    <wsdl:port name="GeekHubWSSoap" binding="tns:GeekHubWSSoap">
      <soap:address location="https://localhost:44383/GeekHubWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GeekHubWSSoap12" binding="tns:GeekHubWSSoap12">
      <soap12:address location="https://localhost:44383/GeekHubWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>